<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Login</title>
    <style>
        body {
          background-image: url('images/requisition.png');
        }
        .card {
           background-image: url('image.jpg');
           background-color: transparent;
           border-color: rgba(0,0,0,0.1);
           box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        a {
          color: red;
        }
        .error-message {
          color: red;
          font-weight: bold;
        }
    </style>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('login')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Password Request</h1>

        <div class="card card-body">
            <div>

                <div th:if="${error != null}">
                    <div class="error-message">
                        <p th:text="${error}">[[${error}]]</p>
                    </div>
                </div>
                <div th:if="${success}">
                    <div class="alert alert-success">
                        <p>Password reset link has been sent to your email.</p>
                    </div>
                </div>

                <form th:action="@{/password-request}" role="form" method="post">

                    <div class="form-group">
                        <label for="email" class="form-control-label">Email</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control"
                                   id="email" name="email" required/>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>

    </div>
</main>

<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<!--show password when mouse is over eye icon-->
<!--demo accounts-->
<script src="js/main.js"></script>

</body>
</html>t





<!--
<!DOCTYPE html>
<html lang="eng"
      xmlns:th="http://www.thymeleaf.org">
<head>
    &lt;!&ndash;/*/ <th:block th:include="fragments/head :: head"></th:block> /*/&ndash;&gt;
    <title>Login</title>
    <style>
        body {
          background-image: url('images/requisition.png');
        }
        .card {
           background-image: url('image.jpg');
           background-color: transparent;
           border-color: rgba(0,0,0,0.1);
           box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        a {
          color: red;
        }
    </style>
</head>

<body>

<header>
    &lt;!&ndash;/*/ <th:block th:include="fragments/header :: header('login')"></th:block> /*/&ndash;&gt;
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Password Request</h1>

        <div class="card card-body">
            <div>

                <div th:if="${error != null}">
                    <div class="error-message">
                        <p>[[${error}]]</p>
                    </div>
                </div>
                <div th:if="${param.success}">
                    <p>Password reset link is sent to your email</p>
                </div>
                &lt;!&ndash;Thymeleaf is automatically adding the CSRF token to the form
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                https://docs.spring.io/spring-security/site/docs/current/guides/html5/form-javaconfig.html
                &ndash;&gt;
                <form th:action="@{/password-request}" role="form" method="post">

                    <div class="form-group">
                        <label for="email" class="form-control-label">Email</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-at"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control"
                                   id="email" name="email"/>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>

    </div>
</main>

<footer class="footer">
    &lt;!&ndash;/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/&ndash;&gt;
</footer>

&lt;!&ndash;show password when mouse is over eye icon&ndash;&gt;
&lt;!&ndash;demo accounts&ndash;&gt;
<script src="js/main.js"></script>

</body>
</html>

-->
