<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Create New Task</title>
</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('create-new-task')"></th:block> /*/-->
</header>

<main class="container">
    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Create new Requisition</h1>

        <div class="card card-body">
            <form th:action="@{/task/create}" th:object="${task}" method="post"   enctype="multipart/form-data">
                <input type="hidden" th:field="*{creatorName}"/>
                <input type="hidden" th:field="*{owner}"/>

                <!--name-->
                <!--<div class="form-group">
                    <label for="name" class="form-control-label">Requisition Name</label>
                    <select class="form-control" th:field="*{name}" id="name">
                        <option value="" enabled selected><&#45;&#45;Select requisition type&ndash;&gt;</option>
                        <option value="Consumables">Consumables</option>
                        <option value="Research Grants">Research Grants</option>
                        <option value="Project Funding">Project Funding</option>
                        &lt;!&ndash; Add more options as needed &ndash;&gt;
                    </select>
                </div>-->
                <div class="form-group">
                    <label for="name" class="form-control-label">Requisition Type</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-pen"></i>
                            </span>
                        </div>
                        <select class="form-control" th:field="*{name}" id="name">
                            <option value="" enabled selected><--Select requisition type--></option>
                            <option value="Consumables">Consumables</option>
                            <option value="Research Grants">Research Grants</option>
                            <option value="Project Funding">Project Funding</option>
                            <!-- Add more options as needed -->
                        </select>
                    </div>
                    <div class="text text-danger"
                         th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <!--description-->
                <div class="form-group">
                    <label for="description" class="form-control-label"> Description</label>
                    <textarea class="form-control"
                              th:field="*{description}" id="description">  </textarea>
                    <div class="text text-danger"
                         th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                </div>


                <!--date-->
                <div class="form-group">
                    <label for="date" class="form-control-label">Due Date</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="date" class="form-control"
                               th:attr="value=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')},
                                    min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                               th:field="*{date}" id="date"/>
                    </div>

                    <div class="text text-danger"
                         th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                </div>

                <!--file-->
                <div class="form-group">
                    <label class="form-control-label">Upload Requisition file (.pdf)</label>
                    <input type="file" name="file" class="form-control" id="file" accept=".pdf" onchange="validateFile()" />
                </div>

                <!--<div class="form-group">
                    <label  class="form-control-label">Upload Requisition file(.pdf)</label>
                    <input type="file" name="file" class="form-control"
                           id="file" />
                </div>-->

                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</main>


<footer class="footer">
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</footer>

<script>
    function validateFile() {
        const fileInput = document.getElementById('file');
        const filePath = fileInput.value;
        const allowedExtensions = /(\.pdf)$/i;
        if (!allowedExtensions.exec(filename)) {
            alert('Please upload file having extensions .pdf only.');
            fileInput.value = '';
            return false;
        }
        return true;
    }
</script>

</body>
</html>