<!DOCTYPE html>
<html lang="eng" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
      xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Profile</title>

    <style>
        /* Form container */
        #updateForm {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        /* Hidden input */
        #updateForm input[type="hidden"] {
            display: none;
        }

        /* Select dropdown */
        #updateForm select {
            padding: 5px 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        /* Submit button */
        #updateForm button[type="submit"] {
            padding: 5px 10px;
            font-size: 14px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Underline download link */
        .download-link {
            text-decoration: underline;
        }
        .download-link:hover {
            text-decoration: underline;
            color: red;
       }
    </style>
</head>

<body>

<header>
    <th:block th:include="fragments/header :: header('profile')"></th:block>
</header>

<main class="container">

    <div class="card mb-3">

        <h1 class="my-highest-header card-header">Profile</h1>

        <div class="card card-body">
            <div class="row">

                <div class="col-sm-10">
                    <h2 class="my-second-header" th:text="${user.name}"></h2>
                    <h2 class="my-second-header" th:text="'email: '+${user.email}"></h2>
                </div>
                <div class="col-6 col-sm-2">
                    <div class="card card-body mb-3 p-2">
                        <img th:src="${user.photo}" alt="user photo" class="embed-responsive embed-responsive-3by4">
                    </div>
                </div>
            </div>

            <table class="my-tab table text-left">

                <thead class="table-info">
                <tr>
                    <th style="width:19%">Requisition Type</th>
                    <th style="width:40%" class="d-none d-sm-table-cell">Description</th>
                    <th style="width:13%" class="d-none d-sm-table-cell">Download Link</th>
                    <th style="width:7%" class="d-none d-lg-table-cell" >Due Date</th>
                    <th style="width:7%" class="d-none d-lg-table-cell" >Days left</th>
                    <th style="width:7%" class="d-none d-lg-table-cell" >Completed</th>
                    <th style="width:7%" class="d-none d-lg-table-cell" >Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="t : ${tasksOwned}">

                    <td class="text-left" th:text="${t.name}"></td>
                    <td class="text-left d-none d-sm-table-cell" th:text="${t.description}"></td>
                    <td class="text-left d-none d-sm-table-cell">
                        <a th:href="${t.downloadlink}" class="download-link" th:text="${t.downloadlink}"></a>
                    </td>

                    <td th:text="${#temporals.format(t.date, 'dd-MM-yyyy')}"></td>

                    <!-- Days left -->
                    <td class="text-center col-1">
                        <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${t})"></th:block>
                    </td>

                    <!-- Completed/In progress -->
                    <td>
                        <a th:href="${'/profile/mark-done/' + t.id + '?status=ACCEPTED'}"
                           th:class="${t.owner == null} ? 'disabled nav-link my-link' : 'nav-link my-link'">
                            <i th:class="${t.completed} ? 'far fa-check-square my-check' : 'far fa-square my-check'"></i>
                        </a>
                    </td>

                    <!-- Status Selection Dropdown -->
                    <td>
                        <!-- Modal -->
                        <form id="updateForm" th:action="@{/profile/update-status}" method="post">
                            <input type="hidden" name="taskId" th:value="${t.id}" />
                            <label class="d-none d-lg-table-cell">
                                <select name="status" >
                                    <option value="ACCEPTED" th:selected="${t.status == 'ACCEPTED'}">ACCEPT</option>
                                    <option value="REJECTED" th:selected="${t.status == 'REJECTED'}">REJECT</option>
                                </select>
                            </label>
                            <button  type="submit" onclick="showStatusUpdatedMessage()" class="d-none d-lg-table-cell">Update</button>
                        </form>
                        <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="statusModalLabel">Status Update</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Status updated!</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            function showStatusUpdatedMessage() {
                                $('#statusModal').modal('show');

                                // Close the modal after 3 seconds (3000 milliseconds)
                                setTimeout(function() {
                                    $('#statusModal').modal('hide');
                                }, 3000);
                            }
                        </script>
                    </td>
                </tr>

                <tr th:if="${user.tasksOwned.size() == 0}">
                    <td colspan="7" th:text="${'There are no requisitions assigned to ' + user.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="footer">
    <th:block th:include="fragments/footer :: footer"></th:block>
</footer>

<!-- Remain scroll position after redirect -->
<script src="js/main.js"></script>

</body>
</html>






