<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Requisition List</title>

</head>
<body>
<header>
    <th:block th:include="fragments/header :: header('tasks-list')"></th:block>
</header>
<main class="container">
    <div class="card mb-3">
        <h1 class="my-highest-header card-header">Progress List
            <span th:unless="${onlyInProgress}">
                <a href="/tasks/in-progress" class="btn btn-outline-info btn-lg float-right">Hide Completed</a>
            </span>
            <span th:if="${onlyInProgress}">
                <a href="/tasks" class="btn btn-outline-info btn-lg float-right">Show Completed</a>
            </span>
        </h1>
        <div class="card card-body">
            <table id="sortableTable" class="my-tab table table-hover text-center" style="table-layout: fixed; width: 100%;">
                <thead class="table-primary">
                <tr>
                    <th style="width: 20%;" class="text-left">Requisition Type</th>
                    <th style="width: 10%;" class="d-none d-lg-table-cell">Due Date</th>
                    <th style="width: 10%;" class="d-none d-lg-table-cell">Days Left</th>
                    <th style="width: 10%;" class="d-none d-lg-table-cell">Completed</th>
                    <th style="width: 18%;" class="d-none d-lg-table-cell">Requester Handler</th>
                    <th style="width: 17%;" class="d-none d-lg-table-cell">Request Owner</th>
                    <th style="width: 15%;" class="d-none d-lg-table-cell">Status</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="t : ${tasks}" th:if="${!onlyInProgress or !t.completed}" th:with="isThisOneSigned=${t.owner != null ? t.owner.equals(signedUser) : false}">
                    <td class="text-left">
                        <span>
                            <a data-toggle="modal" data-target="#modal-details" th:attr="data-target='#modal-details' + ${t.id}" th:href="${'/task/' + t.id}" class="nav-link my-link px-1 d-inline" th:text="${t.name} + ' '"></a>
                            <a data-toggle="modal" data-target="#modal-details" th:attr="data-target='#modal-details' + ${t.id}" th:href="${'/task/' + t.id}" class="btn-link d-inline">
                                <small class="badge badge-light">more</small>
                            </a>
                        </span>
                    </td>
                    <!-- Modal with task details -->
                    <div class="modal" th:id="modal-details + ${t.id}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 th:text="${t.name}" class="modal-title text-info"></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="${'Description: ' + t.description}"></p>
                                    <p th:text="${'Date: ' + #temporals.format(t.date, 'dd-MM-yyyy')}"></p>
                                    <p th:if="${t.owner != null}" th:text="${'Task owner: ' + t.owner.getName()}"></p>
                                    <p th:text="${'Task creator: ' + t.creatorName}"></p>
                                    <div th:if="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-success btn-sm">Edit</a>
                                    </div>
                                    <div th:unless="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <span data-toggle="tooltip" data-placement="top" data-html="true" title="Only task owner or admin can edit this task">
                                            <a th:href="${'/task/edit/' + t.id}" class="btn btn-outline-secondary btn-sm disabled">Edit</a>
                                        </span>
                                    </div>
                                    <div th:if="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <a data-toggle="modal" data-target="#modal-delete" th:attr="data-target='#modal-delete' + ${t.id}" th:href="${'/task/delete/' + t.id}" class="btn btn-outline-danger btn-sm">Delete</a>
                                    </div>
                                    <div th:unless="${isAdminSigned or isThisOneSigned}" class="d-lg-none m-2">
                                        <span data-toggle="tooltip" data-placement="top" data-html="true" title="Only task owner or admin can delete this task">
                                            <a href="" class="btn btn-outline-secondary btn-sm disabled">Delete</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of modal with task details -->
                    <td th:text="${#temporals.format(t.date, 'dd-MM-yyyy')}" th:data-order="${t.date}"></td>
                    <td class="text-center col-1 d-none d-lg-table-cell" th:data-order="${t.date}">
                        <th:block th:include="fragments/days-left-until-deadline :: daysLeft(${t})"></th:block>
                    </td>
                    <td th:data-order="${t.completed} ? 1 : 0" th:if="${isAdminSigned or isThisOneSigned}">
                        <a th:href="${t.completed} ? ${'/task/unmark-done/' + t.id} : ${'/task/mark-done/' + t.id}" th:class="${t.owner == null} ? 'disabled nav-link my-link' : 'nav-link my-link'">
                            <i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                        </a>
                    </td>
                    <td th:data-order="${t.completed} ? 1 : 0" th:unless="${isAdminSigned or isThisOneSigned}">
                        <span data-toggle="tooltip" data-placement="top" data-html="true" title="Only task owner or admin can mark tasks completed/uncompleted">
                            <a th:href="${t.completed} ? ${'/task/unmark-done/' + t.id} : ${'/task/mark-done/' + t.id}" class="disabled nav-link my-link">
                                <i th:class="${t.completed} ? 'far fa-check-square my-check':'far fa-square my-check'"></i>
                            </a>
                        </span>
                    </td>
                    <td th:if="${t.owner != null}" class="d-none d-lg-table-cell">
                        <div th:text="${t.owner.getName()}"></div>
                    </td>
                    <td class="text-center" th:unless="${t.owner != null}">-</td>
                    <td th:text="${t.creatorName}" class="d-none d-lg-table-cell"></td>
                    <td th:if="${t.status == null}" class="d-none d-lg-table-cell">
                        <span class="badge badge-warning">PENDING</span>
                    </td>
                    <td th:if="${t.status != null}" class="d-none d-lg-table-cell">
                        <span th:text="${t.status}"
                           th:classappend="${t.status.toString() == 'ACCEPTED' ? 'badge badge-success' : (t.status.toString() == 'REJECTED' ? 'badge badge-danger' : 'badge badge-warning')}">
                        </span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer class="footer">
    <th:block th:include="fragments/footer :: footer"></th:block>
</footer>
<script src="js/main.js"></script>
</body>
</html>
